@import 'theming';
@import 'header';
@import 'task-title';
@import 'timer';
@import 'settings';

/* Reset */
* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Inter', sans-serif;
  color: var(--textColor);
  transition:
    background-color 0.25s ease,
    color 0.75s ease,
    box-shadow 0.25s ease;
}

body, p, a, ul, li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style-type: none
}

/* Base styles */
html {
  height: 100%;
}

body {
  background-color: var(--backgroundColor);
}

a {
  color: var(--textColor);
  &:hover {
    text-decoration: underline
  }
}

button {
  padding: 12px 24px;
  font: inherit;
  font-weight: 600;
  color: var(--color-basic-100);
  background-color: var(--color-basic-700);
  flex-grow: 1;
  border-radius: 8px;
  outline: none;
  border: none;

  cursor: pointer;
  width: 100%;
  transition: all .1s ease-out;
  opacity: .9;

  &:hover,
  &:focus {
    opacity: 1;
    box-shadow: var(--shadowMid);
  }

  &:active {
    transform: translateY(2px);
    box-shadow: var(--shadowLow);
  }
}


/* Utilities */
.w-full {
  width: 100%
}

.invisible {
  display: none
}

/* Main container */
main {
  padding: var(--marginMobile);
}

section {
  background: var(--backgroundColorAccent);
  border-radius: 12px;
  padding: var(--marginMobile);
  box-shadow: var(--shadowHigh);
}

input {
  text-align: center;
  font: inherit;
  background: transparent;
  border-radius: 8px;
  border: solid 3px var(--gray);
  justify-self: end;
  height: 2rem;
  max-width: 64px;
  outline: none;

  &:focus {
    background: var(--background-black)
  }
}


/* Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  a {
    display: flex;
    justify-content: center;
    align-content: center;
    opacity: .75;
    transition: opacity .1s ease-out;
    &:hover {
      opacity: 1;
      text-decoration: none;
    }
    & span {
      font-weight: 400;
      font-size: .85rem;
      letter-spacing: .05rem;
      align-self: center;
    }
    & svg {
      align-self: center;
      transform: scale(0.8);
      fill: currentColor;
      filter: var(--svgColor);
      display: block;
      margin-right: .5rem;
      &:hover {

      }
    }
  }
}


/* Tablet styles */
@media screen and (min-width: 600px) {
  main div:first-child, main section {
    max-width: 800px;
    margin: 0 auto;
  }

  #task-title {
    margin: 12px auto 24px;
    max-width: calc(800px + var(--marginMobile) * 2);
  }

  #timer {
    font-size: 5em;
  }
}



/* Desktop styles */
@media screen and (min-width: 900px) {

}

/* Tablet styles */
@media screen and (min-width: 600px) {

}

