/* Task title */
.element-title {
  padding: var(--marginMobile) auto 6px;

  h4 {
    margin: 0;
    font-weight: 700;
    color: var(--textColorLight);
    text-align: center;
  }
}

#task-title {
  text-align: center;
  margin: 12px 0 24px;

  p {
    padding: 12px 6px;
    font-size: 1.8em;
    font-weight: 700;
    background: var(--backgroundColorAccent);
    border-radius: 12px;
    border: solid 3px transparent;
    resize: none;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    box-shadow: var(--shadowHigh);

    &:focus {
      border: solid 3px var(--inverted);
      box-shadow: var(--shadowMid);
      transition: .1s ease-in;
    }

    &:focus::placeholder {
      color: transparent
    }
  }
}




/* Desktop styles */
@media screen and (min-width: 900px) {

}

/* Tablet styles */
@media screen and (min-width: 600px) {

}
