/* Timer */
#timer-container {
  text-align: center;
}

#timer {
  font-size: 4em;
  font-weight: 700;
}

#session-status {
  margin: 0 auto 6px;
  color: var(--textColorLight)
}

/* Timer buttons */
#buttons {
  display: flex;
  margin-top: 12px;
  gap: var(--marginMobile);

  & .button-red {
    background: var(--secondary-darker);
  }

  & .button-green {
    background: var(--primary-darker);
  }
}


/* Desktop styles */
@media screen and (min-width: 900px) {

}

/* Tablet styles */
@media screen and (min-width: 600px) {
  #buttons {
    gap: var(--marginMobile);
  }

}
