/* variables */
:root {
  --primary: #20C37F;
  --secondary: #D93838;
  /*--background-color: #2D3748;*/
  /*--background-black: #1A202C;*/
  --background-color: #131313;
  --background-black: #000000;
  --marginMobile: 24px;
}

/* reset */
html {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

body, p, a, ul, li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* base styles */
body {
  background: var(--background-black);
}

a {
  color: white;
}


/* Header */
header {
  padding: 16px var(--marginMobile);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--background-color);
}

#logo {

}

#logo h1{
  margin: 0;
  font-size: 1.8em;
}

header nav {
  font-weight: 600;
  font-size: 1.2em;
}

header nav ul {
  text-decoration: none;
}

nav * a:hover {
  text-decoration: underline;
}

/* main container */
main {
  margin: var(--marginMobile);
}

section {
  margin-bottom: var(--marginMobile);
}


/* Task Title */
#task-title {
  text-align: center;
}

#task-title h4 {
  margin-bottom: 8px;
}

#task-title p {
  padding: 12px 0;
  font-size: 1.8em;
  font-weight: 600;
  color: white;
  background: var(--background-color);
  border-radius: 12px;
  border: solid 2px transparent;
  resize: none;
  outline: none;
  width: 100%;
  /*overflow-y: hidden;*/
}

#task-title textarea:focus::placeholder {
  color: transparent;
}

#task-title textarea:focus {
  border: solid 2px rgba(255, 255, 255, 0.1);
}


/* Timer */




/* Footer */




/*!* Desktop styles *!*/
/*@media screen and (min-width: 1200px) {*/
/*}*/
