/* Variables */
:root {
  --primary: #20C37F;
  --secondary: #D93838;
  --gray: rgb(74, 85, 104);
  --gray-dark: rgb(26, 32, 44);
  --background-color: #131313;
  --background-black: #000000;
  --marginMobile: 24px;
}

/* Reset */
html {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

body, p, a, ul, li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {list-style-type: none}

/* Base styles */
body {
  background: var(--background-color);
}

a {color: white}
a:hover {text-decoration: underline}

button {
  padding: 8px 24px;
  font: inherit;
  font-weight: 600;
  color: white;
  flex-grow: 1;
  border-radius: 8px;
  outline: none;
  border: solid 3px var(--gray);
  background: transparent;
  cursor: pointer;
}
/*button:hover {background: rgba(26, 36, 52, 0.4)}*/
button:hover {background: rgba(74, 85, 104, 0.25)}

button:active {background: rgba(74, 85, 104, 0.5)}

input {
  text-align: center;
  font: inherit;
  color: white;
  background: transparent;
  border-radius: 8px;
  border: solid 3px var(--gray);
  justify-self: end;
  height: 26px;
  max-width: 64px;
  outline: none;
}
input:focus {background: var(--background-black)}

/* Utilities */
.w-full {width: 100%}
.invisible {display: none}

.modal {
  /*display: none; !* Hidden by default *!*/
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  /*margin: auto auto;*/
  left: 0;
  top: 0;
  /*width: 100vw; !* Full width *!*/
  /*height: 100%; !* Full height *!*/
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  width: 100%;

  /*box-sizing: border-box;*/
  max-width: calc(100vw - calc(var(--marginMobile) * 4 + 6px));
  max-height: calc(100vh - calc(var(--marginMobile) * 4 + 6px));
}

/* Overlay */
#overlay {
  position:absolute;
  background:#000;
  opacity:.5;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index:1;
  height: 100vh;
}

/* Header */
header {
  padding: 16px var(--marginMobile);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--background-color);
}

header nav {
  font-weight: 600;
  font-size: 1.2em;
}

header nav ul {text-decoration: none}

#logo h1 {
  margin: 0;
  font-size: 1.8em;
  user-select: none;
}

/* Main container */
main {
  background-color: var(--background-black);
  padding: var(--marginMobile);
}

section {
  background: var(--background-color);
  border-radius: 12px;
  padding: var(--marginMobile);
}

/* Task title */
.element-title {
  padding: var(--marginMobile) auto 6px;
}

.element-title h4 {
  text-align: center;
  margin: 0;
}

#task-title {
  text-align: center;
  margin: 12px 0 24px;
}

#task-title p {
  padding: 12px 6px;
  font-size: 1.8em;
  font-weight: 600;
  color: white;
  background: var(--background-color);
  border-radius: 12px;
  border: solid 3px transparent;
  resize: none;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}
#task-title p:focus::placeholder {color: transparent}
#task-title p:focus {border: solid 3px rgba(255, 255, 255, 0.1)}

/* Timer */
#timer-container {
  text-align: center;
}

#timer {
  font-size: 4em;
  font-weight: 500;
}

#session-status {
  margin: 0 auto 6px;
}

/* Timer buttons */
#buttons {
  margin-top: 12px;
  display: grid;
  grid-gap: 12px;
}

#stop {
  border: solid 3px #742A2A;
  background: transparent;
}
#stop:hover {background: rgba(116, 42, 42, 0.2)}
#stop:active {background: rgba(116, 42, 42, 0.5)}

/* Settings */
#settings {
  background-color: var(--background-color);
  border: solid 3px var(--gray);
  margin: var(--marginMobile);
  padding: var(--marginMobile);

}

#settings h2 {
  text-align: center;
  margin: 0;
}

.settings {
  margin-bottom: 24px;

}

.settings h3 {
  margin: 32px 0 16px;
}

.settings-list {
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
  align-items: center;
  grid-gap: 12px 24px;
}

.settings-list label {
  width: 100%;
}

#timer-settings {
  margin-top: 24px;
}

#mute {
  max-width: 128px;
  padding: 8px 12px;
  justify-self: end;
}

#volume-slider {
  justify-self: end;
  width: 100%;
  max-width: 128px;
}

/* Footer */
footer {
  padding: var(--marginMobile);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--background-color);
}

footer h4 {
  margin: 0 0 6px 0;
}

footer p {
  margin: 0;
  font-size: 0.8em;
}


/*!* Desktop styles *!*/
/*@media screen and (min-width: 1200px) {*/
/*}*/
